/* added font-family to universal selector*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*changed from class benefits to element section to consolidate lines*/
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
}

body {
    background-color: #d9dcd6;
}

/*changed the selector from class to element*/
header {
    padding: 20px;
    background-color: #2a607c;
    color: #ffffff;
}

/*changed the selectors from class to element*/
header h1 {
    display: inline-block;
    font-size: 48px;
}

/*changed the selectors from class to element*/
header h1 .seo {
    color: #d9dcd6;
}

/*changed the selectors from class to element. also changed from div to nav*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

p {
    font-size: 16px;
}

/* changed from class to element selector. changed order of properties so text-align is first */
footer {
    text-align: center;
    padding: 30px;
    clear: both;  
}

/* changed from class to element selector */
footer h2 {
    font-size: 20px;
}

/*consolidated all the benefits image classes together */
.benefits {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*consolidated all the 3 images classes under this one class*/

.cardblock {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.cardblock img {
    max-height: 200px;
}

.cardblock h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}